* {
  /*Makes it so that padding and margin and included in size*/
  /*Applies to everything*/
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  /*was 100px*/
  height: 100%;
}

.sidePanel {
  width: 400px;
  height: 100%;
  background-color: black;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.iconandtitle {
  height: 75px;
  width: 400px;
  display: flex; /* Enable flexbox */
  position: absolute;
  top: 10px;
}

.icon {
  /*height: 40vmin;*/
  position: absolute;
  left: 20px;
  top: 10px;
  transform-origin: center;
  animation: iconSpin infinite 5s linear;
}

@keyframes iconSpin {
  from {
    transform: rotate(0deg);
  }
  to  {
    transform: rotate(360deg);
  }
}

.title {
  background-color: rgb(34, 33, 33);
  border-radius: 25px;
  height: 75px;
  position: absolute;
  left: 100px;
}

.search {
  top: 100px;
  width: 100%;
  height: 20px;
  position: absolute;
  display: flex;
  margin: 10px;
}

.search input {
  width: 90%;
}

.search button {
  width: 20px;
  cursor: pointer;
}

#p1 {
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  padding-left: 10px;
  text-align: center;
}

.collection {
  height: 100%;
  width: 80%;
  margin-left: 400px;
  position: fixed;
  background-color: rgb(34, 33, 33);
}

#movie-container {
  overflow-y: auto;  /* Enable vertical scrolling */
  color: white;
  border: 1px solid #ccc;  /* Optional: Add a border for better visibility */
  padding: 10px;  /* Optional: Add padding inside the container */
}

#movies-table th, #movies-table td {
  border: 1px solid #ddd;  /* Add border to each cell */
  padding: 8px;  /* Add padding for better readability */
  text-align: left;  /* Align text to the left */
}