* {
  /*Makes it so that padding and margin and included in size*/
  /*Applies to everything*/
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


/*--------side Panel and contents--------*/

.iconandtitle, .icon, .title, .search, .customQuery, .filters, .getRandomMovieButton, .addEntry{
  position: absolute;
}

.sidePanel {
  width: 400px;
  height: 100%;
  background-color: black;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.iconandtitle {
  height: 75px;
  width: 400px;
  display: flex; /* Enable flexbox */
  top: 10px;
}

.icon {
  left: 20px;
  top: 10px;
  transform-origin: center;
  animation: iconSpin infinite 5s linear;
}

@keyframes iconSpin {
  from {
    transform: rotate(0deg);
  }
  to  {
    transform: rotate(360deg);
  }
}

.title {
  background-color: rgb(34, 33, 33);
  left: 95px;
  margin: 10px;
  height: 80%;
  width: 65%;
}

#p1 {
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  margin: 0px;
}

.search {
  top: 100px;
  width: 95%;
  height: 20px;
  display: flex;
  margin: 10px;
}

.search input {
  padding: 10px;
  width: 100%;
}

.filters {
  display: flex;
  top: 150px;
  margin: 10px;
  border: 1px solid #3a3939;
  width: 95%;
  height: 20%;
}

.addEntry {
  display: flex;
  top: 375px;
  margin: 10px;
  border: 1px solid #3a3939;
  width: 95%;
  height: 32%;
  flex-direction: column;
}

.mediaTypeDisplay {
  display: flex;
  flex-direction: column;
}

.radioSelect {
  display: flex;
}

.mediaTypeDisplay {
  display: flex;
  top: 20px;
  margin: 10px;
}

.getRandomMovieButton {
  top: 95%;
  width: 95%;
  margin: 10px;
  display: flex;
}

.getRandomMovieButton button {
  width: 100%;
}

.checkBox label {
  color: white;
}

.radioSelect label {
  color: white;
}




/*-------collection--------*/

.collection {
  height: 100%;
  left: 400px;
  right: 0;
  position: fixed;
  background-color: rgb(34, 33, 33);
}

#movie-container {
  overflow-y: auto;  /* Enable vertical scrolling */
  width: 100%;
  color: white;
  height: 100%;
}

.movie-table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

#year, #runtime, #seen {
  text-align: center;
}

td {
  border: 1px solid #3a3939;
}

th {
  font-size: 20px;
}

tr:hover {
  background-color: rgba(97, 94, 94, 0.37);
  cursor: pointer;
}

.movie-table input {
  background-color: rgb(31, 30, 30);
  color: white;
}

thead th { 
  position: sticky; top: 0; 
  background-color: rgb(34, 33, 33);
}

#switchToGraphs {
  position: absolute;
  top: 80%;
}

/*------------- graphs ------------*/

.barGraph {
  background-color: rgb(31, 30, 30);
}

/*---------Entry notice--------*/
.entryNotice {
  color: white;
  width: 500px;
  height: 450px;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  position: absolute;
  left: 500px;
  top: 200px;

}

.entryNotice #p1 {
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
}

.entryNotice #p2 {
  font-size: 30px;
}


/*------------main menu screen------------*/

.mainMenu {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, rgb(1, 10, 31), rgb(2, 24, 71));
}

.mainMenu button {
  color: white;
  background-color: black;
  height: 100%;
  width: 30%;
  position: absolute;
  border-radius: 10%;
}

.menuOptions {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 30%;
  width: 60%;
  height: 30%;
  right: 20%;
}

.newCollectionButton {
  left: 0;
}

.loadCollectionButton {
  right: 0;
}